Source: ruby-pdfbeads
Section: ruby
Priority: optional
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Rogério Theodoro de Brito <rbrito@ime.usp.br>
Build-Depends: debhelper-compat (= 12),
               gem2deb (>= 1),
               ruby,
               ruby-nokogiri (>= 1.5.10),
               ruby-pdf-reader (>= 1.0.0),
               ruby-rmagick (>= 2.13.0)
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-pdfbeads.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-pdfbeads
Homepage: http://pdfbeads.rubyforge.org
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-pdfbeads
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ${ruby:Depends},
         ${shlibs:Depends}
Description: PDFBeads -- convert scanned images to a single PDF file.
 PDFBeads is a small utility written in Ruby which takes scanned
 page images and converts them into a single PDF file. Unlike other
 PDF creation tools, PDFBeads attempts to implement the approach
 typically used for DjVu books. Its key feature is separating scanned
 text (typically black, but indexed images with a small number of
 colors are also accepted) from halftone pictures. Each type of
 graphical data is encoded into its own layer with a specific
 compression method and resolution.
